<div class="page">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo" [ngClass]="{'logo-min':isCollapsed}">
        <img src="./assets/img/avatar.png">
        <p *ngIf="!isCollapsed">后台管理系统</p>
      </div>
      <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">

        <li nz-submenu *ngFor="let rout of routeData">
          <span title>
            <i  class="anticon" [ngClass]="rout.icon"></i>
            <span>{{ rout.title }}</span>
          </span>
          <ul>
            <li nz-menu-item *ngFor="let item of rout.child">
              <a [routerLink]="item.path">{{ item.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header class="flex jc-between">
        <div>
          <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
          <h3>掌动后台管理系统</h3>
        </div>
        <div class="logout" (click)="logout()">退出</div>
      </nz-header>
      <nz-content class="content" style="background:#32373c">
        <div class="pages-box">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>