<ba-card [title]="'众测平台'" baCardClass="with-scroll" selectType="add">
  <div class="add">
    <a routerLink="/project/p_detail">新增</a>
  </div>
  <div class="article-list apply">
    <div class="tools flex">
      <div class="out-file">
        <button nz-button (click)="outFile()" [disabled]="isDisabled">
          <span>导出</span>
        </button>
      </div>
      <div class="btn-group flex-center">
        <nz-select style="width: 150px;" [nzPlaceHolder]="'申请类型'" [(ngModel)]="getParams.mold" (ngModelChange)="selectMold($event)"
          nzShowSearch>
          <nz-option *ngFor="let option of moldOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </div>
      <div class="btn-group">
        <button nz-button [ngClass]="{ 'active': getParams.state == 'all'}" (click)="switchState('all')">
          <span>全部</span>
          <span *ngIf="getParams.state == 'all'">({{ listsData.pagination.total || 0 }})</span>
        </button>
        <button nz-button [ngClass]="{ 'active': getParams.state == 1 }" (click)="switchState(1)">
          <span>已通过</span>
          <span *ngIf="getParams.state == 1">({{ listsData.pagination.total || 0 }})</span>
        </button>
        <!-- <button nz-button [ngClass]="{ 'active': getParams.state == 0 }" (click)="switchState(0)">
          <span>待审核</span>
          <span *ngIf="getParams.state == 0">({{ listsData.pagination.total || 0 }})</span>
        </button> -->
        <!-- <button nz-button [ngClass]="{ 'active': getParams.state == -1 }" (click)="switchState(-1)">
          <span>不通过</span>
          <span *ngIf="getParams.state == -1">({{ listsData.pagination.total || 0 }})</span>
        </button> -->
        <button nz-button [ngClass]="{ 'active': getParams.state == -2 }" (click)="switchState(-2)">
          <i class="anticon anticon-wallet"></i>
          <span>回收站</span>
          <span *ngIf="getParams.state == -2">({{ listsData.pagination.total || 0 }})</span>
        </button>
      </div>
      <div class="btn-group flex-center">
        <nz-rangepicker [(ngModel)]="time" (ngModelChange)="changeDate($event)" [nzFormat]="'YYYY/MM/DD'"></nz-rangepicker>
      </div>
      <div class="btn-group flex-center">
        <nz-select style="width: 120px;" [nzPlaceHolder]="'批量操作'" [(ngModel)]="state" (ngModelChange)="moveState($event)" [nzDisabled]="isDisabled">
          <nz-option *ngFor="let option of stateOptions" [nzLabel]="option.label" [nzValue]="option.value">
          </nz-option>
        </nz-select>
      </div>
      <div class="pull-right">
        <div class="input-group flex">
          <input type="text" class="form-control with-default-addon" #keyword placeholder="文章标题、描述" (keyup)="getKeyword(keyword.value)">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">搜索</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-lists">
      <nz-table #nzTable [nzTotal]="listsData.pagination.total" [nzLoading]="isLoading" [nzAjaxData]="listsData.data" [nzPageSize]="listsData.pagination.pre_page"
        (nzPageIndexChange)="refreshStatus()" [nzPageIndex]="listsData.pagination.current_page" (nzPageIndexChangeClick)="asd($event)"
        (nzPageSizeChange)="refreshStatus()">
        <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate" (ngModelChange)="checkAll($event)"> ID </label>
            </th>
            <th nz-th>
              <span>测试类型</span>
            </th>
            <th nz-th [nzWidth]="'15%'">
              <span>咨询内容</span>
            </th>
            <th nz-th>
              <span>公司名称</span>
            </th>
            <th nz-th>
              <span>联系人</span>
            </th>
            <th nz-th>
              <span>职位</span>
            </th>
            <th nz-th>
              <span>手机号</span>
            </th>
            <th nz-th>
              <span>邮箱</span>
            </th>
            <th nz-th>
              <span>QQ</span>
            </th>
            <!-- <th nz-th>
              <span>申请状态</span>
            </th> -->
            <th nz-th>
              <span>申请时间</span>
            </th>
            <th nz-th>
              <span>派单用户</span>
            </th>
            <th nz-th>
              <span>派单状态</span>
            </th>
            <th nz-th>
              <span>测试状态</span>
            </th>
            <th nz-th>
              <p class="flex-center">
                <span>操作</span>
              </p>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let list of listsData.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="list.checked" (ngModelChange)="refreshStatus()"> {{list.id }}</label>
            </td>
            <td nz-td>
              <span *ngIf="list.mold === 0">功能测试</span>
              <span *ngIf="list.mold === 1">兼容测试</span>
            </td>
            <td nz-td>
              <div class="new-text" [innerHTML]="list.content | stringStr:70"></div>
            </td>
            <td nz-td>
              <div class="new-text">{{ list.company | stringStr:20 }}</div>
            </td>
            <td nz-td>
              <div class="new-text">{{ list.name }}</div>
            </td>
            <td nz-td>
              <span>{{ list.job }}</span>
            </td>
            <td nz-td>
              <span>{{ list.phone }}</span>
            </td>
            <td nz-td>
              <span>{{ list.email }}</span>
            </td>
            <td nz-td>
              <span>{{ list.qq }}</span>
            </td>
            <!-- <td nz-td>
              <span *ngIf="list.state === 1">已通过</span>
              <span *ngIf="list.state === 0">待审核</span>
              <span *ngIf="list.state === -1">不通过</span>
              <span *ngIf="list.state === -2">回收站</span>
            </td> -->
            <td nz-td>{{ list.create_at | date:"yyyy-MM-dd HH:mm:ss" }}</td>
            <td nz-td>
              <span>{{ list?.p_user?.username || '派单' }}</span>
            </td>
            <td nz-td class="btn-lists">
              <p style="text-align:center;margin-bottom: 10px;">
                <span *ngIf="list.p_state === 0">派单中</span>
                <span *ngIf="list.p_state === 1">已完成派单</span>
              </p>
              <div class="flex-center btn-pai">
                <button nz-button class="btn btn-success" style="width: 80px" (click)="showModalUser(list._id,list?.p_user?._id)"> {{ list.p_state ? '重新派单':'派单' }} </button>
              </div>
            </td>
            <td nz-td class="btn-lists">
              <p style="text-align:center;margin-bottom: 10px;">
                <span *ngIf="list.process === 0">完成申请</span>
                <span *ngIf="list.process === 1">确认需求</span>
                <span *ngIf="list.process === 2">技术测试</span>
                <span *ngIf="list.process === 3">结果交付</span>
              </p>
              <div class="flex-center">
                <button class="btn btn-success" (click)="showModal(list._id)">修改状态</button>
              </div>
            </td>
            <td nz-td class="btn-lists">
              <!-- <div class="flex-center" *ngIf="list.state == 1">
                <button class="btn btn-info" (click)="singleState([list._id],0)">待审核</button>
              </div>
              <div class="flex-center" *ngIf="list.state !== 1">
                <button class="btn btn-success" (click)="singleState([list._id],1)">通过审核</button>
              </div> -->
              <div class="flex-center">
                <a class="btn btn-info" [routerLink]="[ '/project/p_detail/' , list._id]">查看详情</a>
              </div>
              <div class="flex-center" *ngIf="list.state != -2">
                <button class="btn btn-danger" (click)="singleState([list._id],-2)">移至回收站</button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</ba-card>
<nz-modal [nzVisible]="isVisible" [nzTitle]="'修改状态'" [nzContent]="modalContent" (nzOnCancel)="handleOk($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent>
    <div class="modal-box">
      <nz-table #nzTable [nzLoading]="isLoading" [nzDataSource]="fileDatas" [nzIsPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th>
              <span>状态</span>
            </th>
            <th nz-th>
              <span>附件</span>
            </th>
            <th nz-th [nzWidth]="'15%'">
              <span>操作</span>
            </th>
            <th nz-th>
              <span>完成</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr>
            <td nz-td>
              <span>完成申请</span>
            </td>
            <td nz-td>
              <span>无</span>
            </td>
            <td nz-td>
              <span>无</span>
            </td>
            <td nz-td nzCheckbox>
              <span>无</span>
            </td>
          </tr>
          <tr nz-tbody-tr *ngFor="let list of fileDatas;let idx = index">
            <td nz-td>
              <span *ngIf="idx === 0">确认需求</span>
              <span *ngIf="idx === 1">技术测试 </span>
              <span *ngIf="idx === 2">结果交付</span>
            </td>
            <td nz-td>
              <span *ngIf="!list.url">无</span>
              <a *ngIf="list.url" [href]="urlRoot + list.p_url" [download]=" list.url">{{ list.url}}</a>
            </td>
            <td nz-td class="btn-lists">
              <div>
                <nz-upload nzAction="{{ imgUplaod + '?process=' + list.process + '&id=' + list._id }}" [nzHeaders]='headers' [nzData]="file"
                  nzName="bg" [nzShowUploadList]="false" (nzChange)="handleChange($event)">
                  <button nz-button class="btn btn-success" style="width:90px" [disabled]="!list.open">
                    <i class="anticon anticon-upload"></i>
                    <span>上传文件</span>
                  </button>
                </nz-upload>
              </div>
              <div>
                <button nz-button style="width:90px" class="btn btn-danger" (click)="removeFile(list._id,list.state)" [disabled]="!list.open">删除</button>
              </div>
            </td>
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="list.state" (ngModelChange)="changeState({ state:list.state,process:idx + 1,id:list._id });"
              disabled="{{ !list.open }}"></label>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
</nz-modal>
<plat-user [isVisible]="userShow" [id]="u_id" (onHideModal)="onHide()" (onOk)="selectUserId($event)"></plat-user>