<ba-card title="广告位" selectType="add" baCardClass="with-scroll">
  <div class="add">
    <a routerLink="/adv/editor">添加广告位</a>
  </div>
  <div class="article-list">
    <div class="tools flex">
      <div class="btn-group">
        <button nz-button [ngClass]="{ 'active': getParams.state == 'all'}" (click)="switchState('all')">
          <span>全部</span>
          <span *ngIf="getParams.state == 'all'">({{ advs.pagination.total || 0 }})</span>
        </button>
        <button nz-button [ngClass]="{ 'active': getParams.state == 1 }" (click)="switchState(1)">
          <span>已发布</span>
          <span *ngIf="getParams.state == 1">({{ advs.pagination.total || 0 }})</span>
        </button>
        <button nz-button [ngClass]="{ 'active': getParams.state == 0 }" (click)="switchState(0)">
          <span>草稿</span>
          <span *ngIf="getParams.state == 0">({{ advs.pagination.total || 0 }})</span>
        </button>
        <button nz-button [ngClass]="{ 'active': getParams.state == -1 }" (click)="switchState(-1)">
            <i class="anticon anticon-wallet"></i>
          <span>回收站</span>
          <span *ngIf="getParams.state == -1">({{ advs.pagination.total || 0 }})</span>
        </button>
      </div>
      <div class="btn-group">
        <button nz-button [nzType]="'primary'" (click)="refreshArticles()">
          <i class="anticon anticon-reload"></i>
          <span>刷新</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="resetGetParams()">
          <i class="anticon anticon-delete"></i>
          <span>清空搜索数据</span>
        </button>
        <button nz-button [nzType]="'info'" (click)="showConfirm()">
          <i class="anticon anticon-delete"></i>
          <span>批量删除数据</span>
        </button>
      </div>
      <div class="pull-right">
        <form class="form-inline article-get-form" [formGroup]="keywordForm" (ngSubmit)="searchSubmit(keywordForm.value)">
          <div class="input-group flex">
            <input type="text" class="form-control with-default-addon" placeholder="文章标题、描述" [formControl]="keywords">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">搜索</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="table-lists">
      <nz-table #nzTable 
        [nzTotal]="advs.pagination.total"
        [nzLoading]="isLoading" 
        [nzAjaxData]="advs.data"
        [nzPageSize]="advs.pagination.pre_page" 
        (nzDataChange)="displayDataChange($event)"
        (nzPageIndexChange)="refreshStatus()" 
        [nzPageIndex]="advs.pagination.current_page"
        (nzPageIndexChangeClick)="asd($event)" 
        (nzPageSizeChange)="refreshStatus()">
        <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox><label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate" (ngModelChange)="checkAll($event)"> ID</label></th>
            <th nz-th width="20%"><span>标题</span></th>
            <th nz-th><span>缩略图</span></th>
            <th nz-th width="20%"><span>链接</span></th>
            <th nz-th><span>创建时间</span></th>
            <th nz-th class="flex-center"><span>操作</span></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let adv of advs.data">
            <td nz-td nzCheckbox><label nz-checkbox [(ngModel)]="adv.checked" (ngModelChange)="refreshStatus()"> {{adv.id}}</label></td>
            <td nz-td width="20%"><div class="adv-title">{{ adv.title }}</div></td>
            <td nz-td><div class="list-img"><img src="{{ imgRoot + adv.url }}"></div></td>
            <td nz-td width="20%"><a class="adv-title hover" href="{{adv.link}}">{{ adv.link | stringStr:40 }}</a></td>
            <td nz-td>{{ adv.create_at | date:"yyyy-MM-dd HH:mm:ss" }}</td>
            <td nz-td class="btn-lists">
              <div class="flex-center">
                <a class="btn btn-success" [routerLink]="['/adv/editor/', adv._id]">编辑广告</a>
              </div>
              <!-- <div class="flex-center">
                <a class="btn btn-info" [href]="'' + adv.id" target="_blank">查看文章</a>
              </div> -->
              <div class="flex-center">
                <button class="btn btn-danger" (click)="showConfirm([adv._id])">删除</button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</ba-card>